@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat/Montserrat-Regular.eot');
  src: url('Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('Montserrat/Montserrat-Regular.woff') format('woff'),
       url('Montserrat/Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

*{
  font-family: "Montserrat-Regular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

html{
  scroll-behavior: smooth;
}

/* nav bar */
:root{
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.navbar{
  position: fixed;
  background: var(--bg-primary);
  z-index: 999;
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.link-text{
  display: none;
  margin-left: 1rem;
}

.nav-link i, .nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
  color: orange;
}

.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
  color: orange;
}

.navbar:hover .logo svg{
  transform: rotate(-180deg);
}
.fa-home{
  color: orange;
  transition: var(--transition-speed);
}

.fa-book{
  color: orange;
  transition: var(--transition-speed);
}

.fa-briefcase{
  color: orange;
  transition: var(--transition-speed);
}

.fa-chart-bar{
  color: orange;
  transition: var(--transition-speed);
}

.fa-code{
  color: orange;
  transition: var(--transition-speed);
}

.fa-address-book{
  color: orange;
  transition: var(--transition-speed);
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}
/* Small screens nav*/
  @media only screen and (max-width: 900px){
    .navbar{
      bottom: 0;
      width: 100%;
      height: 5rem;
    }

    .logo {
      display: none;
    }

    .navbar-nav{
      flex-direction: row;
      justify-content: space-around;
    }

    .nav-link{
      justify-content: center;
      height: 5rem;
      width: 10%;
    }

    main{
      margin: 0;
    }

    .nav-link:hover{
      filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      text-align: center;
    }
    
    .card .sliderText h3{
      font-size: 1em;
      color: #fff;
      padding: 30px;
    }

    .bar .progress-line span::before{
      display: none;
    }
    .bar .progress-line span::after{
      display: none;
    }
  }
  /* Large screens nav*/
  @media only screen and (min-width: 900px){
    .navbar{
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    .navbar:hover .link-text{
      display: block;
    }

    .navbar:hover{
      width: 16rem;
    }

    .navbar:hover .link-text{
      display: inline;
      transition: opacity var(--transition-speed);
    }

    .navbar:hover{
      width: 16rem;
    }

    .nav-link:hover{
      filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      width: 100%;
      text-align: center;
    }

    .card .sliderText h3{
      color: #fff;
      font-size: 2em;
      padding: 30px;
    }
  }
/* home page */

.info{
  color: white;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgba(0, 0, 20, 0.5), rgba(0, 0, 20, 0.5)),url(img/city.jpg) no-repeat center center fixed;
  /* background-position: center;
  background-repeat: no-repeat; */
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 125px;
  padding-right: 125px;
}

.photo img{
  width: 200px;
  height: auto;
  border: 15px solid rgba(180, 180, 180, .5);
  border-radius: 50%;
}

@media screen and (max-width:1380px){
  .info{
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .photo img{
    order: 1;
    margin-bottom: 40px;
  }
  .text{
    order: 2;
  }
}

.fa{
  margin-right: 10px;
}

/*Linkedin Icon css */
.fa-linkedin {
  background: white;
  color:#007bb5;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

/*Github Icon css */
.fa-github {
  background: black;
  color: white;
  padding: 4px;
  font-size: 30px;
  width: 25px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

/*Resume Icon css */
#resume{
  background: rgb(0, 110, 255);
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 10%;
}


.fa-map-marker-alt{
  color: rgb(250, 96, 96);
}

.fa-phone{
  color: rgb(47, 255, 92)
}

/*fade in animation*/
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}

/*sliding animation*/
.from-left{
  transform: translateX(-50%);
}

.from-right{
  transform: translateX(50%);
}

.from-top{
  transform: translateY(-50%);
}

.from-bottom{
  transform: translateY(50%);
}

.from-left, .from-right, .from-top{
  transition: opacity 250ms ease-in, 
  transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear, .from-right.appear, .from-top.appear, .from-bottom.appear{
  animation: from 1s cubic-bezier(.2,.09,.39,1) forwards;
  opacity: 1;
}

@keyframes from{
  100%{
    transform: translateX(0%);
  }
}

/*about page*/
.about-container{
  width: 80%;
  max-width: 1350px;
  height: 330px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.about-container .about-txt{
  width: 550px;
}
.about-txt p:nth-child(1){
  color: #403e3e;
  font-weight: bold;
  font-size: 23px;
  line-height: 0px;
  padding-bottom: 5px;
}
.about-txt p:nth-child(3),
.about-txt p:nth-child(5),
.about-txt p:nth-child(7){
  color: #7e7d7d;
  font-size: 13px;
}

@media screen and (max-width: 1000px){
  .info{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-container{
    width: 90%;
    border-radius: 10px;
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .about-container img{
    height: 200px;
  }
  .about-container .about-txt{
    width: 90%;
    padding-top: 30px;
  }
  .about-container .about-txt p:nth-child(1){
    font-size: 20px;
  }
  .about-container .about-txt p:nth-child(3),
  .about-container .about-txt p:nth-child(5),
  .about-container .about-txt p:nth-child(7){
    font-size: 16px;
  }
}

.certificates{
  display: flex;
  width: 40%;
  padding: 5px;
}
.certificates img{
  width: 20%;
  height: auto;
}
.certnames{
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 0.7em;
  min-height: 90px;
}
.certnames p, .certnames h3{
  padding-top: 5px;
  font-size: 1.3em;
}

@media screen and (max-width: 850px){
  .card .content3{
    flex-direction: column;
    align-items: center;
  }
  .certificates{
    width: 90%;
  }
}

.card .content4{
  widows: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

.card .sliderText{
  position: relative;
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: #000;
}
/* Experience page */
#work{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#work h1{
  padding-bottom: 50px;
}

.timeline{
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}

.timeline:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul{
  margin: 0;
  padding: 0;
}

.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.timeline li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.experience-content{
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(33, 63, 233);
  box-shadow: 0 0 0 3px rgba(63, 33, 233, 0.2);
}

.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgb(33, 63, 233);
  box-shadow: 0 0 0 3px rgba(63, 33, 233, 0.2);
}

.timeline ul li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(33, 63, 233, 1);
}

.timeline ul li p{
  margin: 10px 0 0;
  padding: 0;
}
.timeline ul li .time h4{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(33, 63, 233, 1);
  color: #fff;
  box-shadow: 0 0 0 3px rgba(63, 33, 233, 0.2);
}

.timeline ul li:nth-child(even) .time{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(33, 63, 233, 1);
  color: #fff;
  box-shadow: 0 0 0 3px rgba(63, 33, 233, 0.2);
}

.work{
  display: flex;
  justify-content: center;
}

.work-experience{
  text-align: center;
  padding-left: 5%;
  width: 50%;
}

@media (max-width: 2350px){
  .timeline{
    width: 100%;
    padding-bottom: 0;
  }

  .work-experience{
    width: 100%;
  }

  .timeline:before{
    left: 20px;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    min-width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before{
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

@media screen and (max-width: 767px){
  .work{
    flex-direction: column;
  }
}
/* education page */
#education{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.school{
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1050px;
}

.edutxt{
  align-self: center;
  padding-left: 50px;
}

.certbox{
  widows: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
  width: 1050px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.certifications{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 1250px){
  .school{
    width: 70%;
  }

  .certbox{
    width: 70%;
  }
}
@media screen and (max-width: 600px){
  .school{
    flex-direction: column;
    align-items: center;
  }

  .certbox{
    width: 70%;
  }
}
/* skills page */
#skill{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 18, 99, 0.918), rgba(0, 18, 99, 0.74));
}
#skill h1{
  padding: 30px;
  color: white;
}
.skills{
  padding: 10px;
  width: 100%;
  height: auto;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
  0px 1px rgba(225, 225, 225, 0.8);
  color:#fff;
}
.skillbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.innerskillbox{
  width: 40%;
  height: 50px;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: -15px;
  transform: scaleX(0);
  transform-origin: left;
  background: rgba(233, 233, 233, 0.541);
  color: #fff;
  animation: innerskill 1s cubic-bezier(.2,.09,.39,1) forwards;
  animation-delay: 1s;
}
.soft{
  background: linear-gradient(rgba(0, 18, 99, 0.74), rgba(0, 18, 99, 0.74)), url(img/soft-skills.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50vh;
}
.hard{
  background: linear-gradient(rgba(46, 46, 46, 0.74), rgba(46, 46, 46, 0.74)), url(IDE.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50vh;
}
.skillbox2{
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes innerskill{
  100%{
    transform: scaleX(1);
  }
}
@media screen and (max-width: 1250px){
  .experience{
    flex-direction: column;
    width: 70%;
    float: left;
  }
  .experience img, .experience video{
    width: 80%;
  }

  .skillbox{
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .innerskillbox{
    width: 90%;
  }
  .skillbox2{
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .skills-bar{
    margin: 10px;
  }
}
/*programming languages*/
.language{
  position: relative;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  z-index: 1;
}

.languages{
  font-size: 0.7rem;
  width: 200px;
  padding: 5px;
  position: relative;
  min-height: 200px;
  height: auto;
  margin: 25px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}


/*skill bar*/
.skills-bar{
  display: grid;
  height: auto;
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px 30px;
  color: black;
  text-align: left;
}

.skills-bar .bar{
  margin: 20px 0;
} 

.skills-bar .bar:first-child{
  margin-top: 0px;
}

.skills-bar .bar .information span{
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText2 0.5s 1s linear forwards;
}
@keyframes showText{
  100%{
    opacity: 1;
  }
}


.skills-bar .bar.appear .progress-line.appear{
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                    0px 1px rgba(225, 225, 225, 0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
  height: 100%;
  width: 50%;
  background: linear-gradient(45deg, #37047a,#7575fa);
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}
.progress-line.appear.python span{
  width: 90%;
}
.progress-line.appear.html span{
  width: 80%;
}
.progress-line.appear.R span{
  width: 75%;
}
.progress-line.appear.js span{
  width: 65%;
}
.progress-line.appear.cpp span{
  width: 30%;
}
.bar .progress-line span::before{
  position: absolute;
  content: '';
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after{
  position: absolute;
  content: "80%";
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2{
  100%{
    opacity: 1;
  }
}
.progress-line.python span::after{
  content: '90%';
}
.progress-line.html span::after{
  content: '80%';
}
.progress-line.R span::after{
  content: '75%';
}
.progress-line.js span::after{
  content: '65%';
}
.progress-line.cpp span::after{
  content: '30%';
}
/* project page */
.projects{
  align-items: center;
  min-height: 110vh;
  width: auto;
  height: auto;
  background: rgb(233, 232, 232);
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.section-project{
  width: 90%;
  max-width: 1650px;
  margin: 40px auto;
}

.section-project .button-group{
  display: flex;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.section-project .button-group button{
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.section-project .button-group button.active{
  background: #0388f4;
  color: #fff;
  transition: 0.2s
}

.project{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.project .itemBox{
  position: relative;
  width: 250px;
  height: 200px;
  margin: 5px;
}

.project .itemBox .image{
  background: #0767c7;
  position: relative;
  overflow: hidden;
}

.project .itemBox .image img{
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transition-property: opacity;
}

.project .itemBox .image:hover img{
  opacity: 0.4;
}

.image .details{
  z-index: 1;
  position: absolute;
  top:0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.image .details h2{
  opacity: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}


.image:hover .details h2{
  transform: translateY(-30px);
  opacity: 1;
}

.image .details p{
  margin: 20px 20px 0 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}

.image:hover .details p{
  opacity: 1;
  transform: translateY(-40px);
}

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 400px){
  .project{
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .section-project .button-group{
    flex-direction: column;
    justify-content: center;
  }

  .image{
    flex: 100%;
    max-width: 480px;
  }

  .image .details p{
    font-size: 14px;
  }
  
  .section-project .button-group button{
    font-size: 5vw
  }

  .project .itemBox{
    width: 100%;
    height: 100%;
  }
  
}

/* footer */
.footer{
  padding: 3.3rem;
  background-color: #efefef;
  text-align: center;
}

/* contact us form */
.contact{
  position: relative;
  min-height: 110vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("img/contact-page.jpg");
  background-size: cover;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h1{
  font-weight: 300;
  color: rgb(79, 18, 150);
}
.container{
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: rgb(113, 36, 201);
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: rgb(113, 36, 201);
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: rgb(113, 36, 201);
  color: white;
  border :none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5%;
}
.contactForm .inputBox input[type="submit"]:hover{
  background: rgb(230, 122, 59);
}

@media (max-width: 1000px){
  .contact{
    padding: 50px;
  }
  .container{
    width: 100%;
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo, .contactForm{
    width: 100%;
  }
}

/* border animation */
.border-animation {
  --border-width: 0.01em;
  --animation-speed: 0.5s;
  --color: #56a5f0;
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  border: var(--border-width) solid transparent;
}
.border-animation .border-animation__inner {
  position: relative;
  width: 100%;
  background: white;
  z-index: 1;
  border: solid var(--border-width) transparent;
}
  
  .border-animation:before,
  .border-animation:after {
    content: '';
    position: absolute;
    background: var(--color);
  }
  
  .border-animation:focus:before,
  .border-animation:hover:before {
    animation: beforeBorders var(--animation-speed) forwards ease-in-out;
  }

  .border-animation:focus:after,
  .border-animation:hover:after {
    animation: afterBorders var(--animation-speed) forwards ease-in-out;
  }
  
  .border-animation:focus,
  .border-animation:hover {
    animation: borderColors var(--animation-speed) steps(1) forwards;
    outline: none;
  }

  .border-animation:focus .border-animation__inner,
  .border-animation:hover .border-animation__inner{
    animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
    animation-delay: calc(var(--animation-speed) / 5 * 2);
  }


@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {    
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {    
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;

  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
@media (hover: none){
  .info{
    background: linear-gradient(rgba(0, 0, 20, 0.5), rgba(0, 0, 20, 0.5)),url(img/newyorkmin.jpg) no-repeat center center scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 125px;
    padding-right: 125px;
  }
  .soft{
    background: linear-gradient(rgba(0, 18, 99, 0.74), rgba(0, 18, 99, 0.74)), url(img/soft-skills.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hard{
    background: linear-gradient(rgba(46, 46, 46, 0.74), rgba(46, 46, 46, 0.74)), url(IDE.JPG) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (pointer: coarse){
  .info{
    background: linear-gradient(rgba(0, 0, 20, 0.5), rgba(0, 0, 20, 0.5)),url(img/newyorkmin.jpg) no-repeat center center scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 125px;
    padding-right: 125px;
  }
  .soft{
    background: linear-gradient(rgba(0, 18, 99, 0.74), rgba(0, 18, 99, 0.74)), url(img/soft-skills.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hard{
    background: linear-gradient(rgba(46, 46, 46, 0.74), rgba(46, 46, 46, 0.74)), url(IDE.JPG) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}