@import url('https:fonts.googleapis.com/css?family=Montserrat:500');

*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav bar */

:root{
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.navbar{
  position: fixed;
  background: var(--bg-primary);
  z-index: 999;
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.link-text{
  display: none;
  margin-left: 1rem;
}

.nav-link i, .nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
  color: orange;
}

.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
  color: orange;
}

.navbar:hover .logo svg{
  transform: rotate(-180deg);
}
.fa-home{
  color: orange;
  transition: var(--transition-speed);
}

.fa-info-circle{
  color: orange;
  transition: var(--transition-speed);
}

.fa-code{
  color: orange;
  transition: var(--transition-speed);
}

.fa-address-book{
  color: orange;
  transition: var(--transition-speed);
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #6649b8;
}
/* Small screens nav*/
  @media only screen and (max-width: 600px){
    .navbar{
      bottom: 0;
      width: 100%;
      height: 5rem;
    }

    .logo {
      display: none;
    }

    .navbar-nav{
      flex-direction: row;
      justify-content: space-around;
    }

    .nav-link{
      justify-content: center;
    }

    main{
      margin: 0;
    }

    .nav-link:hover{
      filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      text-align: center;
    }
  }
  /* Large screens nav*/
  @media only screen and (min-width: 600px){
    .navbar{
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    .navbar:hover .link-text{
      display: block;
    }

    .navbar:hover{
      width: 16rem;
    }

    .navbar:hover .link-text{
      display: inline;
      transition: opacity var(--transition-speed);
    }

    .navbar:hover{
      width: 16rem;
    }

    .nav-link:hover{
      filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      width: 100%;
      text-align: center;
    }
  }
/* home page */
.Home_page{
  background-image: url('img/newyorkmin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 110vh;
}

.info{
  color: white;
  align-items: center;
  padding-top: 350px;
  padding-bottom: 350px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  background-image: url('img/newyorkmin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo img{
  width: 200px;
  height: 200px;
  border: 15px solid rgba(180, 180, 180, .5);
  border-radius: 50%;
}

@media screen and (max-width:1380px){
  .info{
    flex-direction: column;
    align-items: center;
  }
  .photo img{
    order: 1;
    margin-bottom: 40px;
  }
  .text{
    order: 2;
  }
}

.fa{
  margin-right: 10px;
}

/*Linkedin Icon css */
.fa-linkedin {
  background: white;
  color:#007bb5;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

/*Github Icon css */
.fa-github {
  background: black;
  color: white;
  padding: 4px;
  font-size: 30px;
  width: 25px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
}

/*Resume Icon css */
.fa-file-alt {
  padding: -1px;
  color: white;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

.fa-map-marker-alt{
  color: rgb(250, 96, 96);
}

.fa-phone{
  color: rgb(47, 255, 92)
}

/*fade in animation*/
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}

/*sliding animation*/
.from-left{
  transform: translateX(-50%);
}

.from-right{
  transform: translateX(50%);
}

.from-left, .from-right{
  transition: opacity 250ms ease-in, 
  transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear, .from-right.appear{
  transform: translateX(0);
  opacity: 1;
}

/*about page*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  flex-direction: column;
  background-image: url('img/about-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h1{
  color: white;
  padding-bottom: 20px;
}

.swiper-wrapper{
  align-items: center;
}

.card{
  position: relative;
  background: #fff;
  width: 60%;
  height: 700px;
  margin: 0 auto;
}


.card .content1{
  widows: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card .content2{
  widows: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

.card .content3{
  widows: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

.card .sliderText{
  position: relative;
  width: 100%;
  height: 200px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: #000;
}

.card .sliderText h3{
  color: #fff;
  font-size: 2em;
  padding-left: 30px;
}

/*programming languages*/
.language{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.languages{
  font-size: 10px;
  width: 200px;
}

/*skill bar*/
.circular-lang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  width: 80%;
}
.circular-lang .card{
  width: 20%;
  background: #fff;
  height: 120%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.circular-lang .card .circle{
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.1s;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 50%;
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span, .circular-lang .card .text{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .circle .box span{
  font-size: large;
  font-weight: 600;
  transform: translate(-45%, -50%);
  transition: all 0.1s;
}

.card .circle:hover .box span{
  transform: translate(-45%, -50%) scale(1.09);
}

.card .text{
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 505px){
  .circular-lang{
    width: 500px;
  }
  .circular-lang .card{
    width: 100%;
  }
}

/* project page */
.projects{
  align-items: center;
  min-height: 110vh;
  background-image: url("img/Project-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects h1{
  padding-top: 40px;
  text-align: center;
  color:rgb(255, 255, 255)
}

.projects article{
  display: flex;
  float: left;
  padding: 60px;
  width: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  position: relative;
  align-items: center;
  height: 400px;
  background-color: #fff;
}

.projects article img{
  width: 40%;
  height: auto;
}

.article-txt{
  padding: 10px;
}

@media screen and (max-width: 1050px){
  .projects article{
    flex-direction: column;
    width: 40%;
    margin-left: 30px;
    height: auto;
  }
  .projects article img{
    width: 80%;
    height: auto;
  }
}

.projects article a{
  text-decoration: none;
}

/* footer */
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #efefef;
  text-align: center;
}

body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 15rem;
}

/*active menu item*/
.active{
  color:rgb(66, 112, 211);
  font-size: larger;
}

/* contact us form */
.contact-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: #002e52;
}

.contact-form .contact{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 998;
}

.contact-form .contact .contactinfo{
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.contact-form .contact .contactinfo h2{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .contact .contactinfo .contactinfo-info{
  position: relative;
  margin: 20px 0;
}
.contact-form .contact .contactinfo .contactinfo-info li{
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
  color: #fff;
}
.contact-form .contact .contactForm{
  position: absolute;
  padding: 70px;
  background: #fff;
  margin-left: 150px;
  padding-left: 350px;
  width: calc(100%-150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.contact-form .contact .contactForm h2{
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
.contact-form .contact .contactForm .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.contact-form .contact .contactForm .formBox .inputBox{
  position: relative;
  margin: 0, 0, 35px;
}
.contact-form .contact .contactForm .formBox .inputBox w50{
  width: 47%;
}
.contact-form .contact .contactForm .formBox .inputBox w100{
  width: 100%;
}
.contact-form .contact .contactForm .formBox .inputBox input,
.contact-form .contact .contactForm .formBox .inputBox textarea{
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}
.contact-form .contact .contactForm .formBox .inputBox textarea{
  min-height: 120px;
}
.contact-form .contact .contactForm .formBox .inputBox span{
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}
.contact-form .contact .contactForm .formBox .inputBox input:focus ~ span,
.contact-form .contact .contactForm .formBox .inputBox textarea:focus ~ span,
.contact-form .contact .contactForm .formBox .inputBox input:valid ~ span,
.contact-form .contact .contactForm .formBox .inputBox textarea:valid ~ span{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}
.contact-form .contact .contactForm .formBox .inputBox input[type="submit"]{
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  margin-top: -20px;
  border-radius: 5%;
}
.contact-form .contact .contactForm .formBox .inputBox input[type="submit"]:hover{
  background:rgb(250, 96, 96);
}